@model List<Produtos>

@{ Layout = "/Views/Shared/Layout.cshtml"; }

<form action="/produtos/search" method="POST" class="input-group mb-3">
    <input name="search" class="form-control" />
    <button class="btn btn-outline-secondary">Pesquisar</button>
</form>

<div class="row">
    @foreach (var produto in Model)
    {
        <div class="col-md-3 mb-3">
            <div class="card">
                <img src="/uploads/@produto.FileName" class="card-img-top" alt="@produto.Nome" style="height: 300px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@produto.Nome</h5>
                    <p class="card-text">@produto.Descricao</p>
                    <p class="card-text">Preço: @produto.Preco</p>
                    <p class="card-text">Quantidade: @produto.ProdQtd</p>
                    <a href="/produtos/delete/@produto.ProdutoId" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                        </svg>
                    </a>
                    <a href="/produtos/update/@produto.ProdutoId" class="btn btn-info">Atualizar</a>
                </div>
            </div>
        </div>
    }
</div>

<a href="/produtos/create" class="btn btn-primary">Criar Produto</a>
<a href="/home/index" class="btn btn-primary">Página inicial</a>